.footer {
    color: white;
    display: block;
    background-color: black;
    width: 100vw;
    overflow: hidden;
    margin-top: 8vh;
}
.tag-band{
    font-family: 'SF Pro Text';
    font-size: clamp(16px, 2vw, 20px);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.footer-content {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
p{
    text-align: center;
    font-family: 'SF Pro Text';
    font-size: clamp(13px,2vw,16px);
    font-weight: 400;
}

svg {
    max-width: 385px;
    margin: 0 40px 20px 40px;
}

.bold {
    color: white;
    font-weight: 800;

}

.normal {
    color: rgba(255, 250, 240, 0.562);
    font-weight: 400;
}

a {
    color: white;
    margin: 20px;
}

.links {
    margin: 60px auto;
    font-family: 'New York Small';
    font-size: clamp(13px,2vw,16px);
    font-weight: 500;
}

.info {
    margin: 0 40px 0 40px;
    font-family: 'New York Small';
}

.copyright-info {
    margin: 40px;
    margin-top: 80px;
    height: 50px;
}