.top-hat {
    margin: 100px auto;
    margin-top: 150px;
    margin-bottom: 0;
    width: 800px;
    height: 12px;
    background-color: black;
}

.box {
    margin: auto;
    margin-bottom: 150px;
    width: 800px;
    height: 380px;
    text-align: center;
    border: 1px solid #000;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 10px;
    margin-top: 8%;
}

p {
    margin: auto;
    width: 90%;
    font-size: 1.6rem;
}

.error-msg {
    margin: auto;
    margin-top: 10px;
    width: 83%;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: red;
}

.textbox {
    display: flex;
    margin: auto;
    margin-top: 6%;
    height: 16%;
}

input {
    display: inline;
    margin-left: auto;
    width: 60%;
    border: 1px solid #000;
    font-size: 1.6rem;
    color: rgb(100, 95, 95);
    padding-left: 20px;
}

.button {
    display: inline-flex;
    margin-right: auto;
    width: 20%;
    background-color: black;
    cursor: pointer;
}


.button-text {
    margin: auto;
    color: white;
    font-size: 1.7rem;
}

@media (max-width: 800px) {
    .top-hat {
        margin: 0px;
        margin-top: 150px;
        width: 100vw;
    }

    .box {
        margin: auto;
        margin-bottom: 150px;
        width: 100vw;
        height: 380px;
        text-align: center;
        border: 0px solid #000;
        border-bottom: 1px solid #000;
    }

}