.top-hat {
    margin: 100px auto;
    margin-top: 150px;
    margin-bottom: 0;
    width: 800px;
    height: 12px;
    background-color: black;
}

.box {
    margin: auto;
    margin-bottom: 150px;
    width: 800px;
    height: 360px;
    text-align: center;
    border: 1px solid #000;
}

h1 {
    font-family: 'New York Extra Large';
    font-weight: 700;
    font-size: clamp(31px,5vw,36px);
    margin-bottom: 20px;
    margin-top: 8%;
}

p {
    margin: auto;
    margin-top: 4%;
    width: 86%;
    text-align: center;
    font-family: 'SF Pro Text';
    font-size: clamp(16px, 5vw, 20px);
    font-weight: 400;
}

.error-msg {
    margin: auto;
    margin-top: 8px;
    width: 83%;
    text-align: left;
    font-family: 'SF Mono';
    font-size: clamp(12px,2vw, 15px);
    font-weight: bold;
    color: red;
}

.textbox {
    display: flex;
    margin: auto;
    margin-top: 6%;
    height: 16%;
}

input {
    display: inline;
    margin-left: auto;
    width: 60%;
    border: 1px solid #000;
    font-size: clamp(17px,3vw, 20px);
    color: rgb(100, 95, 95);
    padding-left: 20px;
}

.button {
    display: inline-flex;
    margin-right: auto;
    width: 21%;
    background-color: black;
    cursor: pointer;
}


.button-text {
    margin: auto;
    color: white;
    font-size: clamp(13px,3vw, 20px);
    font-family: 'SF Pro Text';
}

@media (max-width: 800px) {
    .top-hat {
        margin: 0px;
        margin-top: 150px;
        width: 100vw;
    }

    .box {
        margin: auto;
        margin-bottom: 150px;
        width: 100vw;
        height: 260px;
        text-align: center;
        border: 0px solid #000;
        border-bottom: 1px solid #000;
    }

}