#error-404{
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    padding-bottom: 16%;
    max-width: 100%;
    width: 100%;
}
#error-404 h3{
    max-width: 100%;
    width: 100%;
    
}

h3 {
    margin: 15px auto;
    max-width: 600px;
    padding: 12px;
    font-family: 'SF Mono';
    font-weight: 400;
    font-size: clamp(14px,2vw,20px);
    text-decoration: none;
}

h1 {
    margin: 65px auto 20px auto;
    padding: 0 10px;
    font-family: 'New York Extra Large';
    font-weight: 700;
    font-size: clamp(32px,6vw,50px);
    max-width: 800px;
}

#author-top {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1vh;
    max-width: 900px;
    padding: 0 50px;
}

.article-content {
    margin: 60px auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 900px;
    font-family: 'New York Medium';
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 400;
    line-height: 1.5em;
    text-align: left;
}

figure {
    align-items: center;
}

figcaption {
    margin: 5px auto;
    width: 60%;
    text-align: center;
    font-family: 'SF Pro Text';
    font-size: clamp(13px,2vw,16px);
    font-weight: 500;
    line-height: 1.3;
}
@media (max-width:750px){
    figure{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    figcaption{
        width: 100%;
    }
}

#author-bottom {
    display: flex;
    margin: auto;
    margin-top: 3vh;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
}

#author-bottom .author-info{
    font-family: 'New York Small';
    font-size: clamp(13px,2vw,16px);
}

.profile-pic {
    margin-right: 2%;
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
}

.author-info {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'SF Pro Text';
    font-size: clamp(13px,3vw,16px);
}

.author-name {
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.date-read {
    font-weight: 400;
}

.socials {
    margin-left: auto;
    display: flex;
}

.social-button {
    display: flex;
    text-align: center;
    margin: auto;
    margin-right: 0;
    width: 100px;
}


.logo {
    display: block;
    margin: auto;
    height: 1.5em;
    width: 1.5em;
}

.author-about {
    color: rgb(65, 61, 61);
}

.goofy-eye-hr-container {
    align-items: center;
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
}

.goofy-eye-hr {
    position: absolute;
    width: 100vw;
    border: 1px solid
}

.goofy-eye {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tags {
    margin: auto;
    margin-top: 30px;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    font-family: 'SF Pro Text';
    font-size: clamp(13px,2vw,16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.tag {
    display: inline;
}

.tag-name {

    display: inline;
    text-decoration: underline;
}

.nav-button {
    width: 50px;
    height: 1.8em;
    margin: auto;
}

.nav-button-group {
    display: block;
    margin: auto;
    margin-top: 0;
    display: flex;
    text-align: center;
    height: min-content;
}

@media (max-width:550px){
    #author-top{
        padding: 0 10px;
    }
    #author-bottom{
        padding: 0 20px;
    }
    .author-info{
        display: block;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .profile-pic{
        margin-bottom: 40px;
    }
    .socials {
        margin: 0;
        width: 100%;
    }
    .social-button {
        margin: auto;
    }
}