h1 {
    margin-top: 72px;
    font-family: 'New York Extra Large';
    font-weight: 700;
    font-size: clamp(28px,4vw,40px);
}

button {
    width: 50px;
    height: 1.8em;
    margin: auto;
}

.button-group {
    display: block;
    margin: auto;
    margin-top: 0;
    display: flex;
    text-align: center;
    height: min-content;
}