<div class="grid-container">

    <div class="card" *ngFor="let blog of blogs">
        <a routerLink="/blog/{{blog.blogid}}">
            <div>
                <div class="image-container">
                    <img class="image" src="assets/loading.webp" alt="">
                    <img class="image" style="z-index: 2;" src="https://source.unsplash.com/960x600/?{{blog.title}}"
                        alt="">
                </div>
                <h2 style="height: 2rem; font-size: 1rem;">{{blog.title}}</h2>
            </div>
        </a>
    </div>


</div>